<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ps-5 pt-3 pb-3"
        style="background-color: #2dace3 !important; ">
        <div id="navbarNav">
            <ul class="navbar-nav">
                @for (item of tabMenu; track $index) {
                <li class="nav-item">
                    <div [class]="item.isActive ? 'custom-nav-link active' : 'custom-nav-link'" [routerLink]="item.link"
                        (click)="toggleActive($index)">
                        {{item.name}}
                    </div>
                </li>
                }
            </ul>
        </div>
    </nav>

</div>