<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
            <div class="card-body">
                <h2 class="text-center">Payment Success</h2>
                <hr>
                <div class="alert alert-success">
                    <strong>Payment was successful!</strong> Thank you for your purchase.
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Name:</h5>
                        <p>{{information.name}}</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Total:</h5>
                        <p>{{information.total}}</p>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a href="/" class="btn btn-primary" (click)="onClickBack()">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>